.hulk-first {
    position: relative;
    width: 190px;
    height: 256px;
    background-color: #5B7F3C;
    border-radius: 4px;
    background-image: url('../../img/mobile/home-hero-elipse-mobile@1x.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 20px;
}

.hulk-first::after {
    content: '';
    position: absolute;
    background-image: url('../../img/mobile/home-hero-hulk-mobile@1x.png');
    width: 190px;
    height: 256px;
}

.hulk-second {
    position: relative;
    width: 190px;
    height: 256px;
    border-radius: 4px;
    background-color: #171717;
    background-image: url('../../img/mobile/home-hero-line-mobile@1x.png');
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: rgba(91, 127, 60, 0.5) 0px 60px 50px -13px;
    margin-left: 135px;
}

.hulk-second::after {
    content: '';
    position: absolute;
    background-image: url('../../img/mobile/home-hero-hulk2-mobile@1x.png');
    background-repeat: no-repeat;
    width: 190px;
    height: 256px;
}

.hulk-name {
    content: '';
    position: absolute;
    top: 162px;
    left: 14px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: radial-gradient(81.15% 81.15% at 50% 18.85%, #5B7F3C 0%, #171717 100%);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    z-index: 1;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hulk-first {
        background-image: url('../../img/mobile/home-hero-elipse-mobile@2x.png');
        background-size: contain;
    }

    .hulk-second {
        background-image: url('../../img/mobile/home-hero-line-mobile@2x.png');
        background-size: contain;
    }

    .hulk-first::after {
        background-image: url('../../img/mobile/home-hero-hulk-mobile@2x.png');
        background-size: contain;
    }

    .hulk-second::after {
        background-image: url('../../img/mobile/home-hero-hulk2-mobile@2x.png');
        background-size: contain;
    }
}

@media screen and (min-width: 768px) {
    .hulk-first {
        background-image: url('../../img/tablet/home-hero-elipse-tablet@1x.png');
        background-position: right 10%;
        width: 336px;
        height: 540px;
        margin: 111px 0px 0px;
    }

    .hulk-second {
        background-image: url('../../img/tablet/home-hero-line-tablet@1x.png');
        background-position-y: 70%;
        width: 336px;
        height: 540px;
        margin-left: 32px;
    }

    .hulk-first::after {
        background-image: url('../../img/tablet/home-hero-hulk-tablet@1x.png');
        background-position: bottom;
        background-repeat: no-repeat;
        width: 336px;
        height: 540px;
    }

    .hulk-second::after {
        background-image: url('../../img/tablet/home-hero-hulk2-tablet@1x.png');
        width: 300px;
        height: 385px;
        top: 139px;
        left: -3px;
    }

    .hulk-name {
        width: 144px;
        height: 144px;
        top: 380px;
        left: 16px;
        font-size: 24px;
        line-height: 24px;
    }

}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hulk-first {
        background-image: url('../../img/tablet/home-hero-elipse-tablet@2x.png');
    }

    .hulk-second {
        background-image: url('../../img/tablet/home-hero-line-tablet@2x.png');
        background-position-y: 60%;
    }

    .hulk-first::after {
        background-image: url('../../img/tablet/home-hero-hulk-tablet@2x.png');
    }

    .hulk-second::after {
        background-image: url('../../img/tablet/home-hero-hulk2-tablet@2x.png');
    }
}

@media screen and (min-width: 1440px) {
    .hulk-first {
        background-image: url('../../img/desktop/home-hero-bg-elipse-desktop@1x.png');
        background-size: auto;
        width: 352px;
    }

    .hulk-second {
        background-image: url('../../img/desktop/home-hero-bg-line_desktop@1x.png');
        width: 352px;
    }

    .hulk-first::after {
        background-image: url('../../img/desktop/home-hero-hulk-desktop@1x.png');
        width: 352px;
    }

    .hulk-second::after {
        background-image: url('../../img/desktop/home-hero-hulk2-desktop@1x.png');
        width: 300px;
        height: 385px;
        top: 145px;
        left: 1px;
    }
    .hulk-first {
        margin-top: 210px;
    }
}

@media screen and (min-width:1440px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1440px) and (min-resolution: 192dpi),
screen and (min-width: 1440px) and (min-resolution: 2dppx) {
    .hulk-first {
        background-image: url('../../img/desktop/home-hero-elipse-desktop@2x.png');
        background-size: contain;
        width: 352px;
    }

    .hulk-second {
        background-image: url('../../img/desktop/home-hero-line-desktop@2x.png');
    }

    .hulk-first::after {
        background-image: url('../../img/desktop/home-hero-hulk-desktop@2x.png');
    }

    .hulk-second::after {
        background-image: url('../../img/desktop/home-hero-hulk2-desktop@2x.png');
    }
}