<footer class="page-footer">
  <div class="container page-footer__container">
    <div class="page-footer__wrapper">
      <a
        href="https://feshchenkoevgeniy.github.io/Marvelous-Adventures-Characters/home.html"
        class="page-footer__link"
      >
        <img
          src="/img/logo.png"
          alt="Logo Marveloud Adventures"
          class="page-footer__logo"
        />
      </a>
      <a
        href="https://feshchenkoevgeniy.github.io/Marvelous-Adventures-Characters/characters.html"
        class="page-footer__characters"
        >Characters</a
      >
      <ul class="social-list">
        <li class="social-list__item">
          <a href="https://www.facebook.com/" class="social-list__link">
            <svg class="social-list__icon">
              <use href="/img/sprite.svg#icon-facebook" />
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="https://instagram.com/" class="social-list__link">
            <svg class="social-list__icon">
              <use href="/img/sprite.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="https://x.com/?lang=uk" class="social-list__link">
            <svg class="social-list__icon">
              <use href="/img/sprite.svg#icon-twitter " />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p class="copyright__text">Privacy Policy Public Offering Agreement</p>
    </div>
  </div>
</footer>
