<header class="page-header">
  <div class="container page-header__container">
    <div class="container__logo">
      <a href="/src/home.html">
        <img src="/img/logo.png" alt="Logo Marveloud Adventures" />
      </a>
    </div>
    <div>
      <form action="submit" class="page-header__form">
        <button type="submit" class="page-header__btn">
          <svg class="page-header__search-icon">
            <use href="/img/sprite.svg#icon-search" />
          </svg>
        </button>
        <input
          type="text"
          name="search"
          class="page-header__input"
          placeholder="search"
        />
      </form>
    </div>
  </div>
</header>
