<section class="section hero">
  <div class="container">
    <p class="hero__caption">Web-based platform</p>
    <h1 class="hero__title">Marvelous Adventures</h1>
    <p class="hero__text">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <a href="./characters.html">aLL Characters</a>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__img--block"></div>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
