<section class="random-characters__section">
  <div class="container">
    <h2 class="random-characters__title">Random characters</h2>
    <div class="random-characters__wrapper">
      <div class="loader-container">
        <div class="loader js-loader"></div>
      </div>
      <div class="swiper random-characters__swiper">
        <div
          class="swiper-wrapper random-characters__swiper-box js-random-characters__swiper-box"
        ></div>
      </div>
      <ul class="random-characters__list js-random-characters__list"></ul>
    </div>
    <div class="random-characters__link--right">
      <a
        href="https://feshchenkoevgeniy.github.io/Marvelous-Adventures-Characters/characters.html"
        class="random-characters__link"
        >all Characters</a
      >
    </div>
  </div>
</section>
