<section class="section hero">
  <div class="container hero__container">
    <div class="hero__box">
      <p class="hero__caption">Web-based platform</p>
      <h1 class="hero__title">Marvelous Adventures</h1>
      <p class="hero__text">
        is a web-based platform that provides an immersive experience for users
        to explore and discover a vast collection of Marvel characters and
        comics. Start exploring the Marvelous Adventures now by visiting our
        Characters and Comics sections and discover your new favorites today.
      </p>
      <a href="./characters.html" class="hero__btn js-hero__btn"
        >aLL Characters</a
      >
    </div>
    <div class="characters__container">
      <div class="swiper hero__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="characters__wrapper">
              <div class="blackPanther-first"></div>
              <div class="blackPanther-second">
                <p class="blackPanther-name">Black Panther</p>
              </div>
              <div class="characters__box">
                <span class="characters__pre-title">Characters</span>
                <p class="characters__description">
                  T’Challa is the king of the secretive and highly advanced
                  African nation of Wakanda - as well as the powerful warrior
                  known as the Black Panther.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="characters__wrapper">
              <div class="spiderMan-first"></div>
              <div class="spiderMan-second">
                <p class="spiderMan-name">Spider man</p>
              </div>
              <div class="characters__box">
                <span class="characters__pre-title characters__pre-title--right"
                  >Characters</span
                >
                <p class="characters__description">
                  With amazing spider-like abilities, teenage science whiz Peter
                  Parker fights crime and dreams of becoming an Avenger as
                  Spider-Man.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="characters__wrapper">
              <div class="hulk-first"></div>
              <div class="hulk-second">
                <p class="hulk-name">Hulk</p>
              </div>
              <div class="characters__box">
                <span class="characters__pre-title">Characters</span>
                <p class="characters__description">
                  Exposed to heavy doses of gamma radiation, scientist Bruce
                  Banner transforms into the mean, green rage machine called the
                  Hulk.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
