<section class="main-characters-form">
  <div id="Notiflix"></div>
  <div class="container">
    <div class="filter-form">
      <form action="#" class="filter-form__box js-filter-form">
        <label class="filter-form__label">
          Comics
          <span class="filter-form__icon-wrapper">
            <input
              name="comics"
              type="text"
              class="filter-form__input"
              placeholder="Enter text"
              pattern="[0-9]+"
            />
            <svg class="filter-form__search-icon">
              <use href="/img/sprite.svg#icon-search" />
            </svg>
          </span>
        </label>
        <label class="filter-form__label">
          Name Starts With
          <span class="filter-form__icon-wrapper">
            <input
              name="name"
              type="text"
              class="filter-form__input"
              placeholder="Enter text"
            />
            <svg class="filter-form__search-icon">
              <use href="/img/sprite.svg#icon-search" />
            </svg>
          </span>
        </label>
        <div class="filter-form__datepicker-wrapper">
          <label class="filter-form__label">
            Order by
            <select name="orderBy" class="filter-form__select">
              <option value="Name">Name</option>
              <option value="Modified">Modified</option>
            </select>
          </label>
          <label class="filter-form__label">
            Date
            <input
              type="text"
              name="date"
              id="date-picker"
              placeholder="2024-10-10"
              class="filter-form__input-datepicker"
            />
          </label>
        </div>
      </form>
    </div>
  </div>
</section>
