<section class="section main-hero">
  <div class="container main-hero__container">
    <p class="main-hero__caption">Web-based platform</p>
    <h1 class="main-hero__title">Characters</h1>
    <p class="main-hero__text">
      With over 70,000 characters in the Marvel Multiverse, this is the most
      complete public listing in existence.
    </p>
    <div class="main-hero__link--right">
      <a
        href="https://feshchenkoevgeniy.github.io/Marvelous-Adventures-Characters/home.html"
        class="main-hero__link"
        >Back home</a
      >
    </div>
  </div>
</section>
