<section class="main-characters">
  <div class="container main-characters__container">
    <div class="main-characters__box">
      <ul class="characters__list js-characters-list"></ul>
      <div class="loader-container">
        <div class="loader js-loader"></div>
      </div>
    </div>
    <div class="main-character__btn-wrapper">
      <button type="button" class="main-characters__btn js-main-character__btn">
        Load more
      </button>
    </div>
  </div>
</section>

<!-- <div class="main-characters__form-wrapper"></div> -->
